#!/bin/bash

# Make sure you make app.py executable. 
# Type the following command in the the terminal: chmod +x app.py (in the src folder).
# Change the paths uder beneth to your own root. 
# Drop the Take-Screenshot.desktop on your desktop

[Desktop Entry]
Name=Screenshot
Comment=1.0.0.0
Exec=/home/jp/Applications/Screenshot/src/app.py
Terminal=false
Type=Application
Icon=/home/jp/Applications/Screenshot/src/img/screenshot.png